<div class="container profilePage">
  <div class="profile">
    <div class="profilePage_user">
      <div class="profilePage_user_image">
        <%= image_tag current_user.avatar_image %>
      </div>
      <div class="profilePage_user_basicInfo">
        <div class="profilePage_user_name">
          <div class="profilePage_user_displayName">
            <%= "#{current_user.display_name} (#{current_user.age}・#{I18n.t("enum.genders.#{current_user.gender}")})" %>
          </div>
          <div class="profilePage_user_actionButton">
            <%= link_to 'Edit', edit_profile_path %>
          </div>
        </div>
      </div>
    </div>
    <div class="profilePage_user_introduction">
      <%= current_user.profile&.introduction %>
    </div>
  </div>
  <% current_user.boards.each do |board| %>
    <%= render 'commons/board', board: board %>
  <% end %>
</div>
