<div class="container">
  <!-- タスク詳細 -->
  <div class="task-details">
    <div class="page-header">
      <h2 class="page-title"><%= @task.name %></h2>
      <% if user_signed_in? && current_user.has_written_task?(@task) %>
        <div class="detail_actions">
          <div class="dropdown">
            <%= image_tag 'combined-shape', class: "dropdown-button" %>
            <div class="dropdown-content">
              <%= image_tag 'card1.png', class: "dropdown-content-bg" %>
              <div class="dropdown-content-link-menu">
                <%= link_to 'Edit', edit_board_task_path(@task.board, @task), class: "dropdown-content-link" %>
                <%= link_to 'Delete', board_task_path(@task.board, @task), data: { method: 'delete', confirm: '削除してもよろしいですか？' }, class: "dropdown-content-link" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if @task.eyecatch.attached? %>
      <div class="task-details_image">
        <%= image_tag @task.eyecatch %>
      </div>
    <% end %>
    <div class="task-details_description">
      <%= @task.description %>
    </div>
  </div>

  <!-- コメント一覧 -->
  <div class="comment_container">
    <h3 class="comment_header">Comment</h3>
    <div class="comments">
      <% @comments.each do |comment| %>
        <div class="comment">
          <div class="comment_icon">
            <%= image_tag 'oval-man.png', class: "comment_icon-image" %>
          </div>
          <div class="comment_content">
            <%= comment.content %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- コメント追加ボタン -->
  <%= link_to new_board_task_comment_path(@task.board, @task) do %>
    <div class="add-new-comment">
      <p class="add-new-comment_text">+ Add new comment</p>
    </div>
  <% end %>
</div>
