<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  </head>

  <body>

    <header class="header">
      <div class="header_title">
        <% if !current_page?(root_path) %>
          <%= link_to :back do %>
            <i class="fa-solid fa-chevron-left header_back"></i>
          <% end %>
        <% end %>
        <%= link_to 'Boards', root_path %>
      </div>

      <div class="header_actions">
        <div class="dropdown">
          <%= image_tag 'oval-woman.png', class: "header_avatar" %>
          <div class="dropdown-content">
            <%= image_tag 'card1.png', class: "dropdown-content-bg" %>
            <div class="dropdown-content-link-menu">
              <div class="dropdown-content-link">
                <a href="#">Profile</a>
              </div>
              <div class="dropdown-content-link">
                <a href="#">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </header>

    <% if flash.present? %>
      <div class="flash">
        <% flash.each do |key, value| %>
          <div class="<%= key %>"><%= value %></div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>


  </body>
</html>
